<mat-toolbar color="primary">
  <span>Registration Form</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openEditEmpForm()">Want To Register</button>
</mat-toolbar>

<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Registration Form
    </mat-panel-title>
    <mat-panel-description>
      Click to Explore the Summary of Form
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>
    This Dummy registration form collects essential personal and 
    professional information, including identification details (ID, CNIC), 
    personal details (First Name, Last Name, DOB, Gender), contact information 
    (Email, Address), and professional background (Education, Experience, 
    Company, Package). It also includes a "Delete" option for managing entries.

  </p>
</mat-expansion-panel>
<br>

<!-- <mat-spinner *ng></mat-spinner> -->

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Saad" #input>
</mat-form-field>

<div class="test">
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <!-- <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container> -->

    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td mat-cell *matCellDef="let row"> {{row.firstname}} </td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td mat-cell *matCellDef="let row"> {{row.lastname}} </td>
    </ng-container>
    
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
      <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
    </ng-container>

    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
      <td mat-cell *matCellDef="let row"> {{row.dob | date}} </td>
    </ng-container>

    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
      <td mat-cell *matCellDef="let row"> {{row.company}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <ng-container matColumnDef="education">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Education </th>
      <td mat-cell *matCellDef="let row"> {{row.education}} </td>
    </ng-container>

   

    <ng-container matColumnDef="experience">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Experience </th>
      <td mat-cell *matCellDef="let row"> {{row.experience}} </td>
    </ng-container>
    
    <ng-container matColumnDef="cnic">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CNIC </th>
      <td mat-cell *matCellDef="let row"> {{row.cnic}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
      <td mat-cell *matCellDef="let row"> {{row.address}} </td>
    </ng-container>
    
    <ng-container matColumnDef="package">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Package </th>
      <td mat-cell *matCellDef="let row"> Rs. {{row.package}} PKR </td>
    </ng-container>

   
    
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let row"> 
        <button  mat-icon-button color="warn" (click)="deleteEmployee(row.cnic)">
          <mat-icon >delete</mat-icon>
        </button>
        <!-- <button mat-icon-button color="primary">
          <mat-icon >edit</mat-icon>
        </button> -->
      <!-- </td> -->
    </ng-container>

   

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
</div>